AZDIAS_Feature_Summary.csv
Data_Dictionary.md
Identify_Customer_Segments Original.ipynb
Notas.rtf
Notes 2.rtf
Udacity_AZDIAS_Subset.csv
Udacity_CUSTOMERS_Subset.csv
.DS_Store
.ipynb_checkpoints/
.ipynb_checkpoints2/
